/*
 *
 *  Navbar
 *
 */
nav {
    background-color:#26a69a;
}

#mobile-demo {
    background-color:#ddd;
}

li.divider {
    background-color:rgba(0,0,0,0.4);
    margin:0 !important;
}

/*
 *
 *  Général
 *
 */
body {
    font-family: "Century Gothic", CenturyGothic, sans-serif;
    background-color: rgb(230,230,230);
    height:100%;
}

.global {
    height:100%;
    margin-top:50px;
    margin-bottom:50px;
}

.global > .row {
    margin:0;
}

/*
 *
 * Collections
 *
 *
 */
#lastArticles {
    margin: 0;
}

#lastArticles .collection {
    border:none;
    margin:0;
}

#lastArticles .collection-header {
    background: #1e7068;
    color: white;
}

#lastArticles .collection-item {
    padding:10px 20px 0px 30px;
    position:relative;
}

#lastArticles .collection-item .secondary-content {
    position:absolute;
    top:43%;
    right:10px;
}

#lastArticles .title {
    word-wrap: break-word;
    margin:0;
}

#lastArticles .content {
    margin:5px 0 0 0;
}

#lastArticles .content a{
    color:#26a69a;
}

#lastArticles .category, .category a{
    color: #26a69a !important;
    font-size:1.1em;
}

#lastArticles .tags {
    margin:10px 0 5px 0;
}

.tags .chip {
    background-color: #26a69a;
    color:white;
}

.collection-item .content-item {
    width:93%;
}

#details-article {
    width:100% !important;
}

.collection-header .row {
    margin-bottom:0;
}

.collection-header .input-field {
    margin-top:25px;
}

.collection-header .pagination li:not(:first-child):not(:last-child) a{
    color:white !important;
}

.collection-header .pagination .active {
    background-color:#26a69a !important;
}

.category-bar {
    margin-top:4px;
    margin-right:15px;
    height:14px;
    background-color: #26a69a;
}

.comments {
    margin-top:50px;
}

.send-comment input {
    line-height:36px !important;
}